$color-primario: #262626;
$color-secundario: #09a8c3;
$color-terceario: lighten($color-secundario, 5%);

//caracteristicas del header

$header: $color-primario; // Color del header (No funciona, el js define el color)
$header-texto: $color-secundario; //$color-primario; //Color del texto del header
$header-texto-hover: darken($header-texto, 15%);

//caracteristicas del footer

$footer: $color-primario;
$footer-texto: $color-terceario; //white;

$color-titulos: black; //white;
$color-textos: darken($color-titulos, 15%);
$code-color: #ff671f;

.titulo {
  color: $color-titulos;
}

.texto {
  color: $color-textos;
}

h1 {
  font-size: 2.85rem !important;
}

h2 {
  font-size: 2rem !important;
}

h3 {
  font-size: 1.65rem !important;
}

h4 {
  font-size: 1.45rem !important;
}

p {
  font-size: 1.15rem !important;
}

$mobile-h1-font-size: 1.8rem !important;
$mobile-h2-font-size: 1.8rem !important;
$mobile-h3-font-size: 1.5rem !important;
$mobile-h4-font-size: 1.25rem !important;
$mobile-p-font-size: 1rem !important;
@media (max-width: 600px) {
  h1 {
    font-size: $mobile-h1-font-size;
  }
  h2 {
    font-size: $mobile-h2-font-size;
  }
  h3 {
    font-size: $mobile-h3-font-size;
  }
  h4 {
    font-size: $mobile-h4-font-size;
  }
  p {
    font-size: $mobile-p-font-size;
  }
}

body {
  //background-color: #000;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .navbar-fixed {
    background-color: $header;
    position: relative;
    height: 56px;
    //min-height: 100%;
    z-index: 998;

    nav {
      background-color: transparent;
      box-shadow: none;
      a.brand-logo {
        max-width: 308px;
        height: auto;
        img.img-logo {
          max-height: 60px;
        }
      }
      ul {
        li {
          a {
            color: $header-texto !important;
            &:hover {
              color: $header-texto !important;
            }
          }
        }
      }
      .sidenav-search {
        color: $header-texto !important;
        float: left;
      }
      .sidenav-trigger {
        color: $header-texto !important;
        float: right;
      }
      .sidenav {
        background-color: $color-primario !important;
      }
    }
  }

  div.main {
    //background-color: #ccc;//darken($color-primario, 100%);
    flex: 1 0 auto;
    padding-bottom: 0px;
    display: flex;
    width: 100%;

    #navbar {
      background-color: #fff;
      position: fixed;
      min-width: 290px;
      top: 0px;
      left: 0px;
      width: 300px;
      height: 83%;
      border-right: solid;
      border-color: rgba(0, 22, 22, 0.4);
      margin-top: 65px;
      header {
        background-color:  rgba(0, 0, 0, 0.75);
        color: $code-color;
        margin: 10px;
        text-align: center;
        font-size: 1.8em;
        font-weight: thin;
      }
      ul {
        height: 88%;
        padding: 0;
        overflow-y: auto;
        overflow-x: hidden;
        li {
          color: #4d4e53;
          border-top: 1px solid;
          list-style: none;
          position: relative;
          width: 100%;
          a {
            display: block;
            color: #4d4e53;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
      @media only screen and (max-width: 992px) {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
        margin-top: 65px;
        ul {
          border: 1px solid;
          height: 207px;
        }
      }
    }

    main {
      margin: 20px 25px;
      margin-left: 325px;
      //background-color: white;
      @media screen and (max-width: 992px) {
        margin: auto;
        width: 90%;
        margin-top: 300px;
      }

      .main-section {
        header {
          font-size: 2rem;
        }
        article {
          code {
            background-color: rgba(0, 0, 0, 0.75);
            color: $code-color;
            display: block;
            text-align: left;
            white-space: pre;
            position: relative;
            word-break: normal;
            word-wrap: normal;
            line-height: 2;
            padding: 15px;
            margin: 10px;
            border-radius: 5px;
            @media only screen and (max-width: 900px) {
              margin-left: -20px;
              width: 100%;
              padding: 15px;
              padding-left: 10px;
              padding-right: 45px;
              min-width: 233px;
            }
          }
        }
      }
    }
  }

  .footer-copyright {
    height: 30px;
    background-color: darken($footer, 15%) !important;
    color: $footer-texto !important;
    div {
      margin-top: 2.5px;
      margin-bottom: 2.5px;
      a {
        color: darken($footer-texto, 15%) !important;
      }
    }
  }
}
