.titulo {
  color: black;
}

.texto {
  color: black;
}

h1 {
  font-size: 2.85rem !important;
}

h2 {
  font-size: 2rem !important;
}

h3 {
  font-size: 1.65rem !important;
}

h4 {
  font-size: 1.45rem !important;
}

p {
  font-size: 1.15rem !important;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem !important;
  }
  h2 {
    font-size: 1.8rem !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  h4 {
    font-size: 1.25rem !important;
  }
  p {
    font-size: 1rem !important;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .navbar-fixed {
  background-color: #262626;
  position: relative;
  height: 56px;
  z-index: 998;
}

body .navbar-fixed nav {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .navbar-fixed nav a.brand-logo {
  max-width: 308px;
  height: auto;
}

body .navbar-fixed nav a.brand-logo img.img-logo {
  max-height: 60px;
}

body .navbar-fixed nav ul li a {
  color: #09a8c3 !important;
}

body .navbar-fixed nav ul li a:hover {
  color: #09a8c3 !important;
}

body .navbar-fixed nav .sidenav-search {
  color: #09a8c3 !important;
  float: left;
}

body .navbar-fixed nav .sidenav-trigger {
  color: #09a8c3 !important;
  float: right;
}

body .navbar-fixed nav .sidenav {
  background-color: #262626 !important;
}

body div.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body div.main div.nav-lateral {
  position: relative;
  z-index: 998;
}

body div.main div.nav-lateral nav {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  color: black;
}

body div.main div.nav-lateral nav div.nav-wrapper header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px !important;
  margin-top: 65px !important;
  text-align: center !important;
  color: black;
}

body div.main div.nav-lateral nav div.nav-wrapper ul {
  height: 73%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body div.main div.nav-lateral nav div.nav-wrapper ul li {
  text-align: -webkit-match-parent;
}

body div.main div.nav-lateral nav div.nav-wrapper ul li h4 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px !important;
  text-align: center !important;
}

body div.main div.nav-lateral nav div.nav-wrapper ul li a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  position: relative;
  width: 100%;
  color: #09a8c3 !important;
}

body div.main div.nav-lateral nav div.nav-wrapper ul li a:hover {
  color: #09a8c3 !important;
}

body div.main div.nav-lateral nav div.nav-wrapper .sidenav {
  background-color: #262626 !important;
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

body div.main main {
  margin: 20px 25px;
  margin-left: 325px;
}

@media screen and (max-width: 992px) {
  body div.main main {
    margin: auto;
    width: 90%;
  }
}

body div.main main .main-section header {
  font-size: 2rem;
}

body div.main main .main-section article code {
  background-color: rgba(0, 0, 0, 0.75);
  color: #ff671f;
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  body div.main main .main-section article code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}

body .footer-copyright {
  height: 30px;
  background-color: black !important;
  color: #0abddb !important;
}

body .footer-copyright div {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

body .footer-copyright div a {
  color: #077e92 !important;
}
/*# sourceMappingURL=style.css.map */